.stand {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}