.App {
    --header_height: 60px;
}

.hw {

}

.hwTitle {    
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    max-width: 1110px;
    padding: 0 15px;
    padding-top: 131px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}

.messagesBox {
    border: 1px solid #D9D9D9;
}