.App {
    --header_height: 60px;
}

.hwTitle {    
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    max-width: 1110px;
    padding-top: 131px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 1110px;
}

.hw {
    padding-top: 90px;
    padding-bottom: 55px;
}

.messagesBox,
.mainBox,
.hw {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}